html,body{
	width: 100%;
	height: 100%;
}
body{
	overflow-y: hidden;
}
#bkg{
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
/*加载*/
.load{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1000;
	background: rgba(0,0,0,1);
}
.load_side{
	width: 100%;
	position: absolute;
	top: 30%;
	color: #fff;
}
.load_img{
	width: 20%;
	position: relative;
	left: 40%;
}
.Anmin1{
	animation: onload1 1s ease 0s infinite;
}
.Anmin2{
	animation: onload2 1s ease 0s infinite;
}
.Anmin3{
	animation: onload3 1s ease 0s infinite;
}
@keyframes onload1{
	0%{
		opacity: 0;
	}
	25%{
		opacity: 1;
	}
	50%{
		opacity: 1;
	}
	75%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
@keyframes onload2{
	0%{
		opacity: 0;
	}
	25%{
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	75%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
@keyframes onload3{
	0%{
		opacity: 0;
	}
	25%{
		opacity: 0;
	}
	50%{
		opacity: 0;
	}
	75%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
/*天空*/
.sky{
	width: 100%;
	position: relative;	
}
.sky>img:nth-of-type(1) {
	width: 100%;
}
/*岛*/
.island{
	width: 50%;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 10;
}
/*海*/
.sea{
	margin-top: -11px;
	width: 100%;
	background-image: url(../../image/start-fishing/海.png);
	background-size: cover;
	background-position: 100% 100%;
	position: relative;
	overflow: hidden;
}
.sea>img{
	width: 100%;
	visibility: hidden;
}
/*波纹*/
.boxH{
	width: 100%;
	position: absolute;
	background-attachment: fixed;
	bottom: 0;
}
.boxH div{
	width: 100%;
	height: 4px;
	margin-top: 2px;
	background: url(../../image/start-fishing/海.png) 0 100px;
	background-attachment: fixed;
	opacity: 0.8;
}
/*浪*/
.wave{
	width: 100%;
	position: relative;
	z-index: 1;
	transform: translateY(-84px);
	animation: langAn 3s infinite ease-in;
}
.wave>img{
	width: 100%;
}
/*浪的动画*/
@keyframes langAn{
	0%{
		transform: translateY(-84px);
	}
	30%{
		transform: translateY(-44px);
	}
	100%{
		transform: translateY(-84px);
	}
}
/*沙滩*/
.sendbeach{
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: -10;
}
.sendbeach>img{
	width: 100%;
}
/*鱼竿*/
.fishing-rod{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 10;
	background-size: cover;
	background-position: 100% 100%;
	/*background-image: url(../../image/start-fishing/鱼竿.png);*/
	transition: all;
}
.fishing-rod-1{
	width: 80%;
	visibility: hidden;
}
#turntable{
	width:40%;
	position: absolute;
	display: inline-block;
	bottom: 6%;
	left: 30%;
	z-index: 10;
}
.circle{
	width: 100%;
	transform: rotateZ(0deg);
	transition: all 0.25s;
}
.btn{
	width: 50%;
	position: absolute;
	top: 25%;
	left: 25%;
	z-index: 10;
}
.gan{
	width: 70%;
	position: absolute;
	left: 0;
	top: 0;
	transform: translate(-18px,1px);
}
.gan-bg{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transform: rotateZ(0deg);
	transition: all 0.25s;
}
@keyframes rod{
	from{
		transform: rotateZ(0deg);
	}
	to{
		transform: rotateZ(360deg);
	}
}
.progress-bar{
	width: 3%;
	height: 45%;
	position: absolute;
	top: 25%;
	left: 5%;
	background: #ffa405;
	border-radius: 10px;
	padding: 2px;
	transform: rotateZ(180deg);
	z-index: 10;
}
.progress-bg{
	width: 100%;
	height: 100%;
	background: #fff;
	border-radius: 10px;
	padding: 2px;
	box-sizing: border-box;
}
.progress{
	width: 100%;
	height: 0%;
	background: linear-gradient(to bottom ,#fff, #f67727);
	border-radius: 10px;
	transition: all 0.1s;
}
.model1{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../../image/start-fishing/model.png);
	background-size: cover;
	z-index: 10;
	display: none;
}
.model2{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../../image/start-fishing/model.png);
	z-index: 10;
	display: none;
	
}
.model3{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../../image/start-fishing/model.png);
	z-index: 10;
	display: block;
}
.model4{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../../image/start-fishing/model.png);
	background-size: cover;
	z-index: 10;
	display: none;
}
.model3 img{
	width: 60%;
	margin-top: 30%;
}
.model_outside {
	width: 100%;
	height: 100%;
	text-align: center;
}

.model_inside {
	top: 5%;
	width: 100%;
	display: inline-block;
	position: relative;
	opacity: 0;
	z-index: 100;
	animation: Fan 1s ease-in-out 2s 1 alternate forwards;
}
.move_finsh{
	width: 80%;
	position: absolute;
	top: 10%;
	left: 10%;
	animation: moveF 2s ease-in 0s 1 alternate forwards;
	z-index: 20;
}
.Anwave{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 18;
	animation: Anminwave 0.5s ease-in 0s 1 alternate forwards;
}
@keyframes Fan {
	0% {
		opacity: 0;
		transform: rotateY(0);
	}
	100% {
		opacity: 1;

		transform: rotateY(720deg);
	}
}

@-moz-keyframes Fan {
	0% {
		opacity: 0;
		transform: rotateY(0);
	}
	100% {
		opacity: 1;
		transform: rotateY(720deg);
	}
}
@keyframes moveF{
	0%{
		transform: scale(1,1);
	}
	90%{
		transform: scale(1.5,1.5);
	}
	100%{
		transform: scale(0,0);
	}
}
@keyframes Anminwave{
	0%{
		opacity: 1;
	}
	100%{

		opacity: 0;
	}
}
.model_img {
	width: 100%;
	display: inline-block;
}

.model_btn {
	width: 40%;
	position: absolute;
	left: 30%;
	bottom: 5%;
}
.model_btn4 {
	width: 40%;
	position: absolute;
	left: 30%;
	bottom: 5%;
}
.model_btn_warehouse{
	width: 40%;
	position: absolute;
	left: 30%;
	bottom: -10%;
}
.model_colse {
	width: 10%;
	position: absolute;
	right: 8%;
	top: 10%;
}

.model_gilf {
	width: 50%;
	position: absolute;
	left: 25%;
	top: 35%;
	transform: scale(0, 0);
	animation: Fan2 1s ease-in-out 3s 1 alternate forwards;
}
.model_gilf4 {
	width: 54%;
	position: absolute;
	left: 23%;
	top: 52%;
	transform: scale(0, 0);
	animation: Fan2 1s ease-in-out 3s 1 alternate forwards;
}
.model2 .model_gilf2 {
	width: 60%;
	position: absolute;
	left: 20%;
	top: 45%;
	transform: scale(0, 0);
	animation: Fan2 1s ease-in-out 3s 1 alternate forwards;
}
@keyframes Fan2 {
	0% {
		transform: scale(0, 0);
	}
	100% {
		transform: scale(1, 1);
	}
}
.warehouse {
	background: url("../imgaes/warehouse/BG.png");
	background-size: cover;
	color: #ffffff;
	text-align: center;
	width: 100%;
	margin-top: -1px;
	position: relative;
}

.warehouse_back {
	width: 100%;
	display: inline-block;
}

.warehouse_outside {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.warehouse_inside {
	width: 100%;
	margin-top: 10%;
}

.warehouse_title {
	width: 80%;
	display: inline-block;
}
.warehouse_img{
	margin-top: 10%;
	width: 60%;
	display: inline-block;
}
.warehouse_btn{
	width: 40%;
	position: absolute;
	left: 30%;
	bottom: -20%;
}
.warehouse_gilf{
	
	width: 20%;
	position: absolute;
	left: 40%;
	top: 32%;
	transform: scale(0, 0);
	border-radius: 50%;
	/*background-image: url('http://thirdwx.qlogo.cn/mmopen/vi_32/ydQX6UbSCURDQJY1hFCvl8QUpep2mo5Cy2OG7WeUOXhkAGPvlOLBT6xm6dyIYvAsWO22HOFK89hMjPXhlia3yPQ/132');*/
	animation: Fan2 1s ease-in-out 3s 1 alternate forwards;
}
.warehouse_gilf>img{
	width: 100%;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
}

.warehouse_name{
	width:100%;
	position: absolute;
	top: 48%;
	text-align: center;
}
